/* 
    Colors
---------------------------*/

$primaryColor: #F39C12;             // orange color
$secondaryColor: #3498DB;           // blue color
$tertiaryColor: #00B16A;            // green color
$quaternaryColor: #D64541;          // red color
$quinaryColor: #787c86;             // grey color


$whiteColor: #FFFFFF;
$fontColor: #495057;
$shadowColor: #232323;
$femaleColor: #E26A6A;