.justify-flex-start {
    justify-content: flex-start;
}
.justify-flex-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-space-between {
    justify-content: space-between;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-space-evenly {
    justify-content: space-evenly;
}
.align-items-flex-start {
    align-items: flex-start;
}
.align-items-flex-end {
    align-items: flex-end;
}
.align-items-center {
    align-items: center;
}
.align-items-baseline {
    align-items: baseline;
}
.align-items-stretch {
    align-items: stretch;
}
.align-self-flex-start {
    align-self: flex-start;
}
.display-none {
    display: none !important;
}